.background {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url("./assets/clock-background.jpg") no-repeat center center fixed;
  background-size: cover;
  width: 100%;
  position: relative;
}

.background::before {
  content: "";
  background-image: url("./assets/clock-background.jpg");
  background-size: cover;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  filter: blur(5px);
  -webkit-filter: blur(5px);
}
